<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="ShopIdentity" connectionString="Data Source=(local);Initial Catalog=ShopIdentity;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
