<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.3.2-beta426" targetFramework="net47" />
  <package id="Akka.Cluster" version="1.3.2-beta426" targetFramework="net47" />
  <package id="Akka.Cluster.Tools" version="1.3.2-beta426" targetFramework="net47" />
  <package id="Akka.DI.AutoFac" version="1.3.0" targetFramework="net47" />
  <package id="Akka.DI.Core" version="1.3.2-beta426" targetFramework="net47" />
  <package id="Akka.Persistence" version="1.3.2-beta426" targetFramework="net47" />
  <package id="Akka.Persistence.Sql.Common" version="1.3.2-beta426" targetFramework="net47" />
  <package id="Akka.Persistence.SqlServer" version="1.3.1" targetFramework="net47" />
  <package id="Akka.Remote" version="1.3.2-beta426" targetFramework="net47" />
  <package id="Akka.Serialization.Hyperion" version="1.3.2-beta426" targetFramework="net47" />
  <package id="Autofac" version="4.6.1" targetFramework="net47" />
  <package id="AutoFixture" version="4.0.0-alpha.230" targetFramework="net47" />
  <package id="Automatonymous" version="3.5.12" targetFramework="net47" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net47" />
  <package id="CompareNETObjects" version="3.09.0.0" targetFramework="net47" />
  <package id="DotNetty.Buffers" version="0.4.6" targetFramework="net47" />
  <package id="DotNetty.Codecs" version="0.4.6" targetFramework="net47" />
  <package id="DotNetty.Common" version="0.4.6" targetFramework="net47" />
  <package id="DotNetty.Handlers" version="0.4.6" targetFramework="net47" />
  <package id="DotNetty.Transport" version="0.4.6" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.4.1" targetFramework="net47" />
  <package id="GreenPipes" version="1.0.10" targetFramework="net47" />
  <package id="GridDomain.Common" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.Configuration" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.CQRS" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.EventSourcing" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.Node" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.ProcessManagers" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.Scheduling" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.Scheduling.Akka" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.Tests.Common" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.Tools" version="2.1.754-alfa" targetFramework="net47" />
  <package id="GridDomain.Transport" version="2.1.754-alfa" targetFramework="net47" />
  <package id="Hyperion" version="0.9.6" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore.Design" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore.InMemory" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net47" />
  <package id="Moq" version="4.5.22" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NMoneys" version="5.1.4.1" targetFramework="net47" />
  <package id="Quartz" version="3.0.0-alpha3" targetFramework="net47" />
  <package id="Quartz.Serialization.Json" version="3.0.0-alpha3" targetFramework="net47" />
  <package id="Remotion.Linq" version="2.2.0-alpha-004" targetFramework="net47" />
  <package id="Serilog" version="2.5.1-dev-00873" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1-dev-00757" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net47" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.1-dev-00771" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net47" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net47" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net47" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net47" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net47" />
  <package id="xunit" version="2.3.0-beta5-build3769" targetFramework="net47" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net47" />
  <package id="xunit.analyzers" version="0.7.0" targetFramework="net47" />
  <package id="xunit.assert" version="2.3.0-beta5-build3769" targetFramework="net47" />
  <package id="xunit.core" version="2.3.0-beta5-build3769" targetFramework="net47" />
  <package id="xunit.extensibility.core" version="2.3.0-beta5-build3769" targetFramework="net47" />
  <package id="xunit.extensibility.execution" version="2.3.0-beta5-build3769" targetFramework="net47" />
</packages>